<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <property name="APP" value="code-generator"/>
    <property name="LOG_HOME" value="/var/lib/openshift/565ec19b0c1e668d5a0000a9/app-root/logs/${APP}"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-16c{0} - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="DETAIL" class="ch.qos.logback.core.rolling.RollingFileAppender" additivity="false">
        <File>${LOG_HOME}/${APP}_detail.log</File>
        <encoder>
            <pattern>%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-16c{0} - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${APP}_detail.log.%d{yyyyMMdd}</fileNamePattern>
        </rollingPolicy>
    </appender>
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.github.fartherp.codegenerator" level="INFO" />

    <root level="INFO">
        <appender-ref ref="DETAIL"/>
    </root>
</configuration>
