#search {
    width: 98%;
    height: 5%;
    border: 1px solid #ccc;
    padding: 5px;
}

.commonDiv {
    width: 98%;
    height: 90%;
    border: 1px solid #ccc;
    padding: 5px;
}

#newSearch {
    width: 98%;
    height: 90%;
    border: 1px solid #ccc;
    padding: 5px;
}