body, html, #allmap {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "微软雅黑";
}

p {
    margin-left: 5px;
    font-size: 14px;
}

#aallmap, #eallmap {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "微软雅黑";
}

#ar-result, #er-result {
    width:100%;
}